.news-section {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
 
.section-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2.5rem;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2.7rem;
}



.news-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: scale(1.05);
}

.news-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-content .news-description{
  text-align: justify;
  margin-bottom: 10px;
}

.news-content h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.news-category {
  font-size: 0.875rem;
  color: #888;
}
