.partners-section {
    text-align: center;
    padding: 25px 75px;
    background-color: var(--blue-bayern);
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
   
  .section-subtitle {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2.5rem;
  }


.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.partners-logos img {
    max-height: 35px;
    object-fit: contain;
    filter: grayscale(100%);
}
