* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --blue-bayern: #0066B2 ;
    --red-bayern: #DC052D;
}

@font-face {
    font-family: Poppins-Medium;
    src: url("/Assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src: url("/Assets/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("/Assets/fonts/Poppins-SemiBold.ttf");
}

.btn-primary {
    font-family: Poppins-Medium, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 0;
    transition: 0.4s;
    color: white;
    background-color: var(--blue-bayern);
}

.btn-tertiary{
    font-family: Poppins-Medium, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    margin: 0 0.2rem;
    color: white;
    background-color: var(--red-bayern);
}

.btn-primary, .btn-tertiary {
    min-width: 100px;
}