.scrollable-div {
  max-height: 43vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0px 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display: none;
    }
}

.scrollable-div-curr {
  max-height: 21.5vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  text-align: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 3;
  margin: 10px;
  background-color: #fff;
}